{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <!-- <a href="{% url 'staff_home' %}" class="brand-link">
        <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">SMS</span>
      </a> -->

      <!-- Sidebar -->
      <!-- <div class="sidebar"> -->
      
        <!-- Sidebar Menu -->
        <!-- <nav class="mt-2"> -->
          <!-- <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false"> -->
         
            
            <!-- <li class="nav-item"> -->
              {% url 'staff_home' as staff_home %}
              <a href="{{ staff_home }}" class="nav-link {% if request.path == staff_home %} active {% endif %}">
                <!-- <i class="nav-icon fas fa-tachometer-alt"></i> -->
                <p>
                  Home
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>
<!-- 
            <li class="nav-item"> -->
              {% url 'staff_take_attendance' as staff_take_attendance %}
              <a href="{{ staff_take_attendance }}" class="nav-link {% if request.path == staff_take_attendance %} active {% endif %}">
                <!-- <i class="nav-icon fas fa-calendar-plus"></i> -->
                <p>
                  Take Attendance
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>

            

            <!-- <li class="nav-item"> -->
              {% url 'staff_add_result' as staff_add_result %}
              <a href="{{ staff_add_result }}" class="nav-link {% if request.path == staff_add_result %} active {% endif %}">
                <!-- <i class="nav-icon fas fa-tasks"></i> -->
                <p>
                  Add Result
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>

            <!-- <li class="nav-item"> -->
              {% url 'staff_apply_leave' as staff_apply_leave %}
              <a href="{{ staff_apply_leave }}" class="nav-link {% if request.path == staff_apply_leave %} active {% endif %}">
                <!-- <i class="nav-icon fas fa-envelope-open-text"></i> -->
                <p>
                  Apply Leave
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>

            

          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>